/* AddBoat.css */

/* Container for AddBoat component and AdminSidebar */
.add {
    display: flex;
    flex-direction: row;
    background-image: url('../images/book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Style for the form card */
.boat-form-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 25%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    align-items: center;
    width: 50%; /* Set the width of the card */
}

/* Hover effect for the form card */
.boat-form-card:hover {
    transform: translateY(-5px);
}

/* Heading style */
.boat-form-card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Label style */
.boat-form-card label {
    font-size: 16px;
    color: #555;
    display: block;
    margin-bottom: 8px;
}

/* Input field style */
.boat-form-card input[type="text"],
.boat-form-card input[type="number"] {
    width: calc(100% - 10px);    
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 16px;
}

/* Radio button style */
.boat-form-card input[type="radio"] {
    margin-right: 10px;
}

/* Button style */
.boat-form-card button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Hover effect for the button */
.boat-form-card button:hover {
    background-color: #45a049;
}

/* Card animation */
.boat-card {
    animation: slide-up 0.5s ease;
}

/* Slide up animation keyframes */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
