/* UserDetails.css */

.user-details {
    margin-top: 20px;
    margin-left: 20%;
  }
  .user{    
    display: flex;
    flex-direction:row ;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eef2f3, #8e9eab);
    height: 100vh;
  }
  .user-details table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-details th, .user-details td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .user-details th {
    background-color: #f2f2f2;
  }
  
  .user-details tbody tr {
    background-color: #f2f2f2;
  }
  